<div class="sidebar_container" fxLayout="column">
    <button mat-raised-button color="accent" routerLink="ask" >
        <mat-icon>edit</mat-icon>
        Асуух
    </button>
    <mat-action-list>
        <mat-list-item style="border-radius: 30px" routerLink="home">
            <mat-icon matListIcon>forum</mat-icon>
            <p matLine style="font-weight: 500">Хэлэлцүүүлэг</p>
        </mat-list-item>
        <mat-list-item style="border-radius: 30px">
            <mat-icon matListIcon>view_module</mat-icon>
            <p matLine style="font-weight: 500">Таггууд</p>
        </mat-list-item>
    </mat-action-list>
</div>
