<mat-toolbar class="header" [ngStyle]="styleObj" fxLayout="column">
    <mat-toolbar-row class="title" fxFlex fxLayout="column" fxLayoutAlign="end start">
        <p class="mat-display-1" style="display: inline-grid">{{pageTitle}}</p>
    </mat-toolbar-row>
    <mat-toolbar-row class="sub-nav">
        <ng-content select="[sub-nav]"></ng-content>
    </mat-toolbar-row>
    <button mat-fab color="accent" aria-label="reply" class="header-fab">
        <mat-icon>reply</mat-icon>
    </button>
</mat-toolbar>


