@import "../../../styles/custom-theme";

/*.answer-list p {*/
/*    margin: 0;*/
/*}*/
.answer-list {
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.answers {
    padding: 12px 30px 12px 22px;
}

@media only screen and (max-width: 960px) {
    .answers {
        padding: 12px 12px 12px 8px;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }