<div class="answer-list" fxLayout="column">
    <div fxLayout="row">
        <vote-button [answer]="answer"></vote-button>
        <div fxFlex fxLayout="column">
            <p class="mat-caption">{{answer.createdAt | momentPipe}}</p>
            <div class="vote-content" [innerHTML]="answer.content"></div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <button mat-button (click)="showReplies()">
                        Хариултууд
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </div>
                <div fxLayout="row">
                        <user-profile [user]="answer.author"></user-profile>
                    <button mat-icon-button class="background-button">
                        <mat-icon>reply</mat-icon>
                    </button>
<!--                    <button mat-flat-button color="primary">-->
<!--                        <mat-icon>reply</mat-icon>-->
<!--                        Хариулт нэмэх-->
<!--                    </button>-->
<!--                    <div fxLayout="row" fxLayoutAlign="start start">-->
<!--                        <div fxLayout="row" fxLayoutAlign="start center" class="replies">-->
<!--                            <mat-icon>reply</mat-icon>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <ng-content select="[answer-divider]" ></ng-content>
</div>

