<app-navbar [layout]="'layout-1'">
    <button color="accent" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
</app-navbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="mat-elevation-z3" #drawer role="navigation"  mode="over">
        <p>Navigation</p>
    </mat-sidenav>
    <mat-sidenav-content fxFlex="">
        <top-banner *ngIf="currentRoute === 'home'"></top-banner>
        <detail-header *ngIf="currentRoute === 'tag-detail'"></detail-header>
        <profile-header *ngIf="currentRoute === 'user-detail'"></profile-header>
        <div fxLayout="row" class="main-content">
            <div fxFlex></div>
            <div class="container" fxLayout="row">
                <sidebar *ngIf="!(isHandset$ | async)"></sidebar>
                <div fxFlex>
                    <ng-content></ng-content>
                </div>
            </div>
            <div fxFlex ></div>
        </div>
        <footer></footer>
    </mat-sidenav-content>
</mat-sidenav-container>
