<app-navbar>
    <button color="accent"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="(isHandset$ | async) && !isPostPage">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
</app-navbar>
<mat-sidenav-container class="sidenav-container" style="padding-top: 64px">
    <mat-sidenav class="mat-elevation-z3" #drawer [attr.role]="isPostPage ? 'directory' : 'navigation'" [opened]="isPostPage && !(isHandset$ | async)" [mode]="isPostPage ? 'side' : 'over'" style="padding-top: 64px">
        <ng-container [ngSwitch]="isPostPage" >
            <post-sidenav *ngSwitchCase="true"></post-sidenav>
            <ng-container *ngSwitchCase="false">
                <p>Navigation</p>
            </ng-container>
        </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <top-banner *ngIf="!isPostPage"></top-banner>
        <div fxLayout="row">
            <div fxFlex></div>
            <div [class.container]="!isPostPage" [class.mat-sidenav-content-container]="!isPostPage" fxLayout="row" >
                <sidebar *ngIf="!(isHandset$ | async) && !sidebarLogic"></sidebar>
                <div fxFlex fxLayout="column">
                    <ng-content></ng-content>
<!--                    <div style="height: 100px; background-color: red">-->
<!--                        Footer-->
<!--                    </div>-->
                </div>
            </div>
            <div fxFlex></div>
        </div>
        <footer></footer>
    </mat-sidenav-content>
</mat-sidenav-container>

