.container {
    /*margin-top: 16px;*/
}

.sidenav-container {
    height: 100%;
    /*min-height: 2000px;*/
}
::ng-deep mat-sidenav {
    width: 380px !important;
    /*top: 64px !important;*/

}
.mat-sidenav-content-container {
    padding-top: 8px;
}
