@import "../../../styles/custom-theme";
.login-background {
    align-content: center;
    //min-height: 1200px;
    width: 100%;
}
.login-card {
    width: 360px;
    max-height: 800px;
    //background-color: mat-color($primary, A100);
    padding: 20px 32px 20px 32px;
    .logo-container {
        padding: 16px 0 16px 0;
    }
    .logo {
        height: 60px;
        width: auto;
    }
    .formIcon {
        color: mat-color($primary );
    }
    .register-link {
        color: mat-color($primary);
        font-weight: bold;
    }
    .register-link:hover {
        cursor: pointer;
    }
    mat-form-field {
        width: 100%;
        // margin: 16px 0;
        padding-bottom: 8px;
    }
    mat-error {
        margin-bottom: 8px;
    }

}
.fa-2x {
    font-size: 1.5em !important;
}
