<mat-card class="login-card" fxLayout="column">
  <div *ngIf="authService.user$ | async as user; else login" fxLayout="column">
    <p class="mat-body-1">
      Та дараах хэрэглэгчээр нэвтэрсэн байна:
      <span class="mat-body-2">{{ user.email }}</span>
    </p>
    <button
      mat-button
      color="primary"
      routerLink="/home"
      class="background-button"
      type="button"
    >
      Нүүр хуудасруу буцах
    </button>
    <!-- <button (click)="tokenDialog(user)">test</button> -->
    <!--            <button mat-button color="primary" (click)="signOut()">Гарах</button>-->
  </div>
  <ng-template #login>
    <button
      type="button"
      aria-label="back"
      mat-icon-button
      [routerLink]="['/home']"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
      <img src="../../../assets/logo_white.png" alt="Logo" class="logo" />
    </div>
    <p class="mat-title" style="margin: 16px; text-align: center">
      Сайн байна уу!
    </p>
    <div
      class="social-login-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <button mat-button class="google-login" (click)="loginWithGoogle()">
        <i class="fab fa-google fa-2x"></i>
        Sign in with Google
      </button>
      <p class="mat-body-1" style="margin: 12px 0 12px 0">
        эсвэл бүртгэлтэй имэйл хаягаараа нэвтрэх
      </p>
    </div>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field
        appearance="outline"
        color="primary"
        class="login-form-field"
      >
        <mat-label>Имэйл хаяг</mat-label>
        <input matInput placeholder="Имэйл хаяг" [formControl]="email" />
        <mat-icon matSuffix class="formIcon">email</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="email.touched" class="mat-caption">{{
        getEmailError()
      }}</mat-error>
      <mat-form-field
        appearance="outline"
        color="primary"
        class="login-form-field"
      >
        <mat-label>Нууц үг</mat-label>
        <input
          matInput
          placeholder="Нууц үг"
          type="password"
          [formControl]="password"
        />
        <mat-icon matSuffix class="formIcon">lock</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="password.touched" class="mat-caption">{{
        getPasswordError()
      }}</mat-error>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" type="submit" fxFlex="">
          Нэвтрэх
        </button>
      </mat-card-actions>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p
          class="mat-caption register-link"
          [routerLink]="['/auth/password-reset']"
        >
          Нууц үгээ мартсан уу?
        </p>
        <p class="mat-caption">
          Хэрэв та бүртгэлгүй бол,
          <span class="register-link" [routerLink]="['/auth/register']"
            >Бүртгүүлэх</span
          >
        </p>
      </div>
    </form>
  </ng-template>
</mat-card>
