<div fxLayout="column">
    <mat-toolbar class="header" fxLayout="column" role="heading">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between start" class="title">
            <div fxLayout="column">
                <p class="mat-headline" fxHide.gt-xs="">Сэдвүүд</p>
                <p class="mat-display-1" fxHide.xs="">Сэдвүүд</p>
                <div fxLayout="row" class="actions" *ngIf="authService.user$ | async as user" fxLayoutAlign="start center">
                    <ng-container *ngIf="metaData$ | async as metaData">
                        <p class="mat-body-1">Нийт ({{metaData.size}}) </p>
                    </ng-container>
                </div>
            </div>
            <ng-container *ngIf="authService.user$ | async as user">
                <button mat-flat-button color="primary" (click)="openDialog(user)" *ngIf="permissionService.canRead(user)">
                    <mat-icon>add</mat-icon>
                    Сэдэв нэмэх
                </button>
            </ng-container>
        </mat-toolbar-row>
    </mat-toolbar>

</div>
