@import "../../../../styles/custom-theme.scss";
.post-list-sidenav {
  padding: 8px 12px 6px 12px;
}
.post-list-sidenav:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}
.post-list-sidenav:focus {
  outline: none;
  background-color: rgba(0,0,0,0.1);;
}

.post-list-sidenav p {
  margin: 0;
}
.post-list-sidenav .mat-caption {
  line-height: 16px;
}

.post-list-sidenav .question {
  margin: 0 0 6px 0;
  font-weight: 500;

}
.post-list-sidenav .question:focus {
  outline:0;
}
.post-list-sidenav mat-icon {
  margin:0 2px 0 0;
}

.post-list-sidenav .score {
  padding: 6px; margin: 0 8px 0 8px; width: 56px
}
//chip style
::ng-deep mat-chip-list .mat-chip-list-wrapper {
   margin: 0 !important;
}
.mat-standard-chip.tag {
  min-height: 16px !important;
  font-size: 12px;
  margin: 0 4px 0 0;
  font-weight: 400;
  //margin-bottom: 8px;
}
.post-list-sidenav .post-list-edited {
  transform: scale(0.8);
}
.avatar {
  margin: 0 8px 0 0;
}
