@import "../post-list/post-list.component";

.post-list {
  @include standart-list();
  .question {
    background-color: mat-color($my-grey, 700);
    width: 100%;
    border-radius: 16px;
  }
  p.meta {
    background-color: mat-color($my-grey, 700);
    width: 200px;
    border-radius: 16px;
    margin: 0;
  }
  .tag {
    @include chip-tag();
    width: 100px;
    background-color: mat-color($my-grey, 700) !important;
    border: hidden;
  }
}



