@import "../../../styles/custom-theme";
.user-detail {
  position: relative;
  padding: 12px 30px 12px 22px;
  margin: 8px 0 8px 0;
  .votes {
    color: mat-color($primary);
  }
}
.user-detail .top-fab-button {
  position: absolute;right: 30px;top:-28px
}
.user-tags-container {
  max-width: 800px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
}
