<!--<div fxLayout="row" class="profile-header-container">-->
<!--    <div fxFlex></div>-->
<!--    <div class="container detail-header" fxLayout="column" fxLayoutAlign="center left" style="position: relative" *ngIf="user$ | async as user">-->
<!--        <p class="mat-headline">{{user.displayName}}</p>-->
<!--        <button mat-button color="accent" class="background-button">-->
<!--            Take tour-->
<!--        </button>-->
<!--    </div>-->
<!--    <div fxFlex></div>-->
<!--</div>-->

<p>asfdadf</p>
