<div *ngIf="filteredPosts$ | async as posts; else loading" style="position: relative">
<!--    <ng-container *ngIf="tagDetail$ | async as tagDetail">-->
<!--        <button mat-fab style="position:absolute; top: -44px; right: 0" (click)="openDialog(tagDetail)">-->
<!--            <mat-icon>edit</mat-icon>-->
<!--        </button>-->
<!--    </ng-container>-->
    <div *ngIf="posts.length else empty">
        <post-list *ngFor="let item of posts; last as last" [post]="item">
            <mat-divider *ngIf="!last"></mat-divider>
        </post-list>
    </div>
    <ng-template #empty>
        <p>Хэлэлцүүлэг олдсонгүй</p>
    </ng-template>
</div>
<ng-template #loading>
    <post-list-ghost *ngFor="let item of [1,2,3,4,5,6]"></post-list-ghost>
    <!--    <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">-->
<!--        <mat-spinner color="accent" [diameter]="24"></mat-spinner>-->
<!--    </div>-->
</ng-template>
<!--Need to create pagination-->
