@import "../../../styles/custom-theme";
/*typography*/
.mat-caption {
    margin: 0;
}


.post-detail {
    position: relative;
    padding: 12px 30px 12px 22px;
}
.post-detail .view{
    text-align: justify;
    margin: 0 0 0 0;
    padding: 16px 0 0 0;
}
.post-detail .tags {
    padding: 0 15px;
}

.post-detail .log-section {
    background-color: rgba(0,0,0,0.1);
    margin: 0 0 0 74px;
    padding: 4px;
}
.post-detail .voteArea {
    padding: 16px 0 0 0;
}
.post-detail .top-fab-button {
    position: absolute;right: 30px;top:-28px
}
//.post-detail .actions mat-icon{
//    opacity: 66%;
//}
.post-detail .metas {
    //background-color: mat-color($QA-primary, 200);
    //border: 1px solid mat-color($QA-primary, 500);
    //border-radius: 30px;
    //padding: 4px 8px;
}

.time {
    margin: 0 0 0 56px;
    /*color: #dadada;*/
}
.votes {
    margin: 0 16px 0 0;
}
.votes mat-icon {
    margin: 0 4px 0 0;
}
.replies {
    margin: 0 16px 0 0;
}
.replies mat-icon {
    margin: 0 4px 0 0;
}



.answers {
    padding: 12px 22px ;
}
.suggested{
    padding: 12px 22px ;

}

