/*typography*/
.mat-caption {
    margin: 0;
}


.post-detail {
    padding: 30px;
}
.post-detail .tags {
    padding: 0 15px;
}


.time {
    margin: 0 0 0 56px;
    /*color: #dadada;*/
}

.post-detail.view{
    text-align: justify;
}
.answers {
    padding: 12px 30px ;
}

