/*typography*/
.mat-caption {
    margin: 0;
}


.post-detail {
    padding: 12px 30px 12px 22px;
}
.post-detail .view{
    text-align: justify;
    margin: 0 0 0 74px;
    padding: 16px 0 0 0;
}
.post-detail .tags {
    padding: 0 15px;
}

.post-detail .log-section {
    background-color: rgba(0,0,0,0.1);
    margin: 0 0 0 74px;
    padding: 4px;
}

.time {
    margin: 0 0 0 56px;
    /*color: #dadada;*/
}
.votes {
    margin: 0 16px 0 0;
}
.votes mat-icon {
    margin: 0 4px 0 0;
}
.replies {
    margin: 0 16px 0 0;
}
.replies mat-icon {
    margin: 0 4px 0 0;
}



.answers {
    padding: 12px 22px ;
}

