@import "../../../styles/custom-theme";


.post-detail {
  padding: 12px 30px 22px 22px;
  .author-section {
    margin: 8px 0 0 0;
    .admin-actions {
      // background-color: red;
    }
    .core-actions {
      padding: 8px 0;
      // background-color: yellow;
    }
  }
  .voteArea {
    padding: 16px 0 0 0;
  }
  .active {
    color: mat-color($accent);
  }
}

button.followed {
  background-color: mat-color($accent, 200, 0.1);
  mat-icon {
    color: mat-color($accent);
  }
}
@media only screen and (max-width: 960px) {
  .post-detail {
    padding: 12px 12px 12px 8px;
    .view {
      padding: 16px 0 0 0;
    }
  }
  .answers {
    margin: 8px 0 8px 0;
    padding: 12px 12px 12px 8px;
  }
}
