<div class="" fxLayout="row">
    <div class="container_content mat-elevation-z2" fxFlex="70" *ngIf="post | async as post">
        <header [pageTitle]="post.title">
            <div sub-nav fxLayout="row" fxLayoutAlign="start center">
                <p class="mat-caption">Сүүлд шинэчлэгдсэн {{post.dateUpdated | momentPipe}}</p>
                <div fxLayout="row" fxLayoutAlign="start center" class="time">
                    <mat-icon>visibility</mat-icon>
                    <p class="mat-caption">13</p>
                </div>
            </div>
        </header>
        <div class="post-detail view">
            <div [innerHTML]="post.content"></div>
            <mat-chip-list>
                <mat-chip class="tag">Байгал орчин</mat-chip>
                <mat-chip class="tag">ХУУ</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="side_container" fxFlex>
        <p>Here goes dropdown info</p>
    </div>
</div>

