@import "custom-theme";
.header {
  padding: 32px 0 8px 0;
  background-color: transparent;
  mat-toolbar-row {
    height: auto;
  };

  .actions {
    margin: 8px 0 0 0;
    .mat-caption {
      margin: 0;
      color: mat-color($primary);
    }
    .mat-body-1 {
      color: mat-color($primary);
    }
    button.mat-icon-button {
      margin-left: 8px;
    }
  }
  button.followed {
    background-color: mat-color($primary, 200 ,0.1);
    mat-icon {
      color: mat-color($primary);
    }
  }
}

.background-card {
  padding: 12px 22px 12px 28px;
}
