@import "../../../styles/custom-theme";
.detail-header-container {
  height: 200px;
  position: relative;
  background-color: mat-color($accent,50);
  margin-bottom: 8px;
}
p {
  color: mat-color($accent,900);
}
.detail-header {
  padding: 40px 15px 30px;
}
