<div fxLayout="column" *ngIf="detail | async as detail">
  <mat-toolbar class="header" fxLayout="column" role="heading">
    <mat-toolbar-row
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div fxLayout="column">
        <h1>{{ detail.name }}</h1>
        <p class="mat-body-1 meta">Хэрэглэгдсэн ({{ detail.totalUsed }})</p>
      </div>
      <!-- <div *ngIf="authService.user$ | async as user">
        <button
          mat-flat-button
          color="primary"
          [routerLink]="'/ask'"
          *ngIf="permissionService.canRead(user)"
        >
          <mat-icon>edit</mat-icon>
          Хэлэлцүүлэг нэмэх
        </button>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>
