
@import "../../../../styles/custom-theme";
.top-banner-container {
    position: relative;
    background-color: mat-color($QA-accent,50);
    margin-bottom: 8px;

}
p {
    color: mat-color($QA-accent,900);
}
.top-banner {
    height: 200px;
    padding: 40px 15px 30px;
}
