<ng-container *ngIf="publisherData$ | async as publisherData">
  <div fxLayout="row" class="user-profile-container">
    <div
      class="avatar"
      *ngIf="publisher.type === 'company' && publisherData.logo"
    >
      <img src="{{publisherData.logo}}" alt="Company logo" class="avatar__image">
    </div>
    <div
      class="avatar"
      *ngIf="publisher.type === 'user'"
      [ngStyle]="{ 'background-color': publisherData.color?.code }"
    >
    <ng-container *ngIf="publisherData.profileImage; else noImage">
      <img [src]="publisherData.profileImage" alt="{{publisherData.displayName}}" class="avatar__image">
    </ng-container>
    <ng-template #noImage>
      {{ publisher.displayName.charAt(0) }}
    </ng-template>
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">
      <p
        *ngIf="publisher.type === 'user'"
        class="mat-caption profile-name"
        [routerLink]="['/users', publisherData.uid]"
      >
        {{ publisher.displayName }}
      </p>
      <p *ngIf="publisher.type === 'company'" class="mat-caption profile-name">
        {{ publisher.displayName }}
      </p>
      <p
        *ngIf="publisher.type === 'user'"
        class="mat-caption profile-email cut-text"
      >
        {{ publisherData?.company.name }}
      </p>
      <p
        *ngIf="publisher.type === 'company'"
        class="mat-caption profile-email cut-text"
        fxHide.xs
      >
        Байгууллага
      </p>
    </div>
  </div>
</ng-container>
