@import "../../styles/custom-theme.scss";

.top-toolbar {
    //position: -webkit-sticky;
    //position: -ms-sticky;
    //position: -o-sticky;
    //position: sticky;
    //display: none;
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 5; /* Ensure that your app's content doesn't overlap the toolbar */
}

img::selection {
    border: none;
}
.homeButton {
    height: 48px;
    width: 48px;
}

.toolbarLogo {
    height: 42px;
}
.example-spacer {
    flex: 1 1 auto;
}
::ng-deep mat-form-field {
    opacity: 1;
    transition: opacity .6s cubic-bezier(.25,.8,.25,1);
}

mat-form-field.mat-focused{
    width: 400px;
    transition: opacity .6s cubic-bezier(.25,.8,.25,1);

    //transition: width 2s
}
mat-form-field.mat-focused.mat-focused.mat-form-field-label {
    color: #ff1744 !important ;
}

//buttons
.login {
    border: 2px solid mat-color($QA-accent);
    border-radius: 30px;
    margin-left: 16px;
}


mat-form-field.mat-form-field {

    font-size: 12px;
}
mat-form-field .mat-form-field-wrapper {
    padding: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    transition: opacity 1s cubic-bezier(.25,.8,.25,1);
    padding: 0 !important;
}
.active-list-item {
    border-bottom: 1.5px solid mat-color($QA-accent,500);
}

.postPage_container {
    width: 100%;
    padding: 0 12px 0 12px;

}

