@import "custom-theme";
@import "src/app/post/post-list/post-list.component";
.tag-item {
  @include standart-list();
  width: 269px;
  height: 170px;
  p {
    margin: 0 16px 0 0;
  }
}

@media only screen and (max-width: 1280px ) and ( min-width: 960px) {
  .tag-item {
    width: 305px;
  }
}

@media only screen and (max-width: 960px) and ( min-width: 660px){
  .tag-item {
    width: 305px;
  }
}
@media only screen and (max-width: 660px){
  .tag-item {
    width: auto;
  }
}
