@import "../../../styles/custom-theme.scss";
.tag-item {
  border-radius: 16px;
  //border: 1px solid rgba(0,0,0,0.2);
  background-color: mat-color($my-grey, 800);
  width: 260px;
  height: 200px;
  padding: 12px;
  margin-bottom: 8px;
}

.tag-item .tag-link {
  cursor: pointer;

}
.tag-item .tag-link:hover {
  color: mat-color($accent,800)
}
.tag-item .tag-link:focus {
  outline:0;
}
