<div fxLayout="row" class="background-card tag-item">
    <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex>
        <div fxLayout="column">
            <h4 [routerLink]="['tagDetail', item.id]">{{item.name}}</h4>
            <p class="line-clamp-3 mat-body">{{item.description}}</p>
        </div>
        <div class="tag-info" fxLayout="row" fxLayoutAlign="end center">
            <p class="mat-caption" [routerLink]="['tagDetail', item.id]">{{item.totalUsed}} хэлэлцүүлэг</p>
        </div>
    </div>
    <div class="type-indicator " [class.user]="isUserTag"></div>
</div>
