<div class="tag-item" fxLayout="column" fxLayoutAlign="space-between start">
    <div fxLayout="column">
        <p class="mat-body-2">This is tag title</p>
        <p class="line-clamp-5">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <p class="mat-caption">7 questions</p>
    </div>
</div>
