<div fxLayout="row" class="tag-item">
    <div class="type-indicator " [class.user]="isUserTag"></div>
    <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="">
        <div fxLayout="column">
            <p class="mat-subheading-2 tag-link" [routerLink]="['tagDetail', item.id]">{{item.name}}</p>
            <p class="line-clamp-3 mat-body-2">{{item.description}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <p class="mat-caption tag-link" [routerLink]="['tagDetail', item.id]">{{item.totalUsed}} хэлэлцүүлэг</p>
        </div>
    </div>
</div>
