@import "./src/styles/custom-theme";
.score-card {
  width: 200px;
  //height: 150px;
  margin: 4px;
  padding: 8px;
  mat-icon {
    transform: scale(2);
    margin: 8px;
    color: mat-color($primary) !important;
  }
  p {
    margin: 4px 0 4px 0;
  }
}

