@import "./src/styles/custom-theme";
.score-card {
  width: 230px;
  margin: 4px;
  padding: 12px 12px;
  mat-icon {
    @include md-icon-size(36px);
    margin: 0 0 8px 0;
  }
  .mat-display-2 {
    font-size: 48px;
    margin: 0;
  }
  p {
    margin: 4px 0 4px 0;
  }
}

.type-indicator {
  display: block;
  width: 5px !important;
  // min-height: 100%;
  margin: 0 12px 0 0;
  border-radius: 4px;
  background-color: mat-color($accent);
}
@media only screen and (max-width: 960px) {
  .score-card {
    width: 140px;
    .mat-body-2 {
      line-height: 16px;
    }
    .mat-caption {
      line-height: 16px;
    }
    mat-icon {
      @include md-icon-size(32px);
      margin: 0 0 8px 0;
    }
  }
}