<!-- <mat-sidenav class="mat-elevation-z3" #drawer [attr.role]="(currentLayoutObj.layout2) ? 'directory' : 'navigation'" [opened]="(currentLayoutObj.layout2) && !(isHandset$ | async)" [mode]="(currentLayoutObj.layout2) ? 'side' : 'over'">&ndash;&gt;-->
<!--     <ng-container [ngSwitch]="currentRoute" >-->
<!--    &lt;!&ndash;            <post-sidenav *ngSwitchCase="'post-detail'"></post-sidenav>&ndash;&gt;-->
<!--         <ng-container *ngSwitchDefault>-->
<!--             <p>Navigation</p>-->
<!--         </ng-container>-->
<!--     </ng-container>-->
<!-- </mat-sidenav>-->
<p>Sidenavworks</p>
