<div style="width: 100%;height: 100vh" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="login-card" fxLayout="column">
        <ng-container *ngIf="authService.user$ | async as user; else login">
            {{user | json}}
            <button mat-raised-button color="accent" (click)="authService.signOut()">Sign out</button>
        </ng-container>
        <ng-template #login>
            <form (ngSubmit)="onSubmit()">
                <button color="accent" type="button" aria-label="back" mat-icon-button routerLink="/home">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
                    <img src="../../assets/logo_noTitle.png" alt="Logo" class="logo">
                </div>
                <p class="mat-title" style="margin: 0;text-align: center">Сайн байна уу!</p>
                <i class="fa fa-google" aria-hidden="true"></i>
                <div class="social-login-container " fxLayout="column" fxLayoutAlign="center center">
                    <button mat-button class="google-login" (click)="loginWithGoogle()">
                        <i class="fab fa-google fa-2x"></i>
                        Sign in with Google
                    </button>
                    <p class="mat-caption" style="margin: 12px 0 12px 0">эсвэл бүртгэлтэй имэйл хаягаараа нэвтрэх</p>
                </div>
                <mat-form-field appearance="outline" color="accent" style="margin-bottom: 16px;width: 100%">
                    <mat-label>Имэйл хаяг</mat-label>
                    <input matInput placeholder="Имэйл хаяг" [formControl]="email">
                    <mat-icon matSuffix class="formIcon">email</mat-icon>
                </mat-form-field>
                <mat-error *ngIf="email.touched" class="mat-caption">{{getEmailError()}}</mat-error>
                <mat-form-field appearance="outline" color="accent" style="margin-bottom: 16px;width: 100%">
                    <mat-label>Нууц үг</mat-label>
                    <input matInput placeholder="Нууц үг" type="password" [formControl]="password">
                    <mat-icon matSuffix class="formIcon">lock</mat-icon>
                </mat-form-field>
                <mat-error *ngIf="password.touched" class="mat-caption">{{getPasswordError()}}</mat-error>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="accent" type="submit" fxFlex="">Нэвтрэх</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p class="mat-caption">Хэрэв та бүртгэлгүй бол, <span class="register-link" routerLink="/register">Бүртгүүлэх</span>
                    </p>
                </div>
            </form>
        </ng-template>
    </mat-card>
</div>
