@import "../../styles/custom-theme.scss";
.login-background {
    align-content: center;
    //min-height: 1200px;
    width: 100%;
}
.login-card {
    width: 360px;
    max-height: 800px;
    background-color: mat-color($QA-primary, A100);
    padding: 20px 32px 20px 32px;
    .logo-container {
        padding: 16px 0 16px 0;
    }
    .logo {
        height: 60px;
        width: auto;
    }
    .formIcon {
        color: mat-color($QA-primary, 600 );
    }
    .register-link {
        color: mat-color($QA-accent, 800 );
        font-weight: bold;
    }
    .register-link:hover {
        cursor: pointer;
    }
    mat-form-field {
        width: 100%;
    }
}
.fa-2x {
    font-size: 1.5em !important;
}
