@import "./src/styles/custom-theme";

mat-toolbar {
  background-color: mat-color($my-grey, 800) !important;
  //border-radius: 16px;
  .mat-list-base {
    padding: 0 !important;
    .nav-link {
      border-radius: 300px;
    }
  }
}
.admin-container {
  padding: 16px;
}
mat-toolbar mat-toolbar-row {
  padding: 0 16px 0 16px !important;
}
