@import '../../node_modules/@angular/material/theming';
@include mat-core();
$QA-primary: mat-palette($mat-grey, A100);
$QA-accent: mat-palette($mat-cyan, 800);
$QA-warn: mat-palette($mat-red);
$QA-theme: mat-light-theme($QA-primary, $QA-accent, $QA-warn);
@include angular-material-theme($QA-theme);

//custom typography

$mat-cyan: (
        50: #eeffff,
        100: #b2ebf2,
        200: #80deea,
        300: #4dd0e1,
        400: #26c6da,
        500: #00838f,
        //500: #00bcd4,
        600: #00acc1,
        700: #0097a7,
        800: #00838f,
        900: #006064,
        A100: #84ffff,
        A200: #18ffff,
        A400: #00e5ff,
        A700: #00b8d4,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: $dark-primary-text,
        )
);

$QA-typography: mat-typography-config(
        $font-family:   'Roboto, "Helvetica Neue", sans-serif',
        $display-4:     mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
        $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
        $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
        $display-1:     mat-typography-level(34px, 40px, 400),
        $headline:      mat-typography-level(24px, 32px, 400),
        $title:         mat-typography-level(20px, 32px, 400),
        $subheading-2:  mat-typography-level(16px, 28px, 500),
        $subheading-1:  mat-typography-level(15px, 24px, 400),
        $body-2:        mat-typography-level(14px, 24px, 500),
        $body-1:        mat-typography-level(14px, 20px, 400),
        $caption:       mat-typography-level(12px, 20px, 400),
        $button:        mat-typography-level(14px, 14px, 500),
          // Line-height must be unit-less fraction of the font-size.
        $input:         mat-typography-level(inherit, 1.125, 400)
);
@include mat-base-typography($QA-typography);
@include angular-material-typography($QA-typography);


