/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
@import "~@angular/material/theming";
@import "../../node_modules/quill/dist/quill.bubble.css";
@import "../../node_modules/quill/dist/quill.core.css";
@import "../../node_modules/quill/dist/quill.snow.css";

html {
  height: 100%;
  background-color: mat-color($my-grey, 500) ;
  font-size: 14px;
}
body {
  height: 100%;
  margin: 0;
  background-color: mat-color($my-grey, 500) ;
}

/************************ global typography *****************************/
blockquote {
  font-style: italic;
  border-left: 4px solid mat-color($accent);
  padding: 0 0 0 16px;
}
strong {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
a {
  color: mat-color($accent, 500);
  
}
a:hover {
  cursor: pointer;
}
.tooltip {
  font-size: 12px !important;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  max-width: 150px; 
  // height: 1.2em; 
  white-space: nowrap;
}

/************************ Icons *****************************/

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.6);
  margin: 2px 6px 0 0;
}
.avatar-large {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin: 2px;
}

/****************************************Buttons****************************************************/
button.background-active {
  background-color: mat-color($primary, 200) !important;
}

button.background-active--accent {
  background-color: mat-color($accent, 0.1) !important;
  color: mat-color($accent) !important;

}
button.background-white {
  background-color: #ffffff !important;
}
button.mat-button {
  border-radius: 300px;
}
button.mat-button.border-white {
  border: 2px solid white;
}
button.mat-raised-button {
  border-radius: 300px;
  text-transform: uppercase;
}
button.mat-flat-button {
  border-radius: 300px;
}

mat-button-toggle-group {
  box-shadow: none !important;
  background-color:white;
  border-radius: 16px !important;
}

.mat-button.google-login {
  border-radius: 300px;
  width: 100%;
  background-color: tra !important;
  color: #1e2029 !important;
  border: 1px solid mat-color($my-grey, 800, 0.2)
}
#fab {
  position: fixed; 
  visibility: visible;
  z-index: 1000;
  right: 32px;
  bottom: 32px;
}

//*****************************Layout styles*************************************

@media only screen and (min-width: 1920px) {
  .container {
    width: 1110px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .container {
    width: 1110px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) {
  .container {
    width: 945px;
    box-sizing: border-box;
    padding-left: 8px !important;
    padding-right: 8px !important;  }
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}

.layout-center {
  height: 100%;
}

.editor {
  height: 300px !important;
}
.section-header {
  margin: 16px 0;
  .mat-subheading-2 {
    margin: 0;
  }
}

.background-card {
  margin: 8px 0;
  background-color: mat-color($my-grey, 50);
  border-radius: 16px;
  padding: 20px 20px 20px 20px;
  border: 1px solid mat-color($my-grey, 800, 0.01)
}
.background-card-small {
  background-color: mat-color($my-grey, 50);
  border-radius: 12px;
  padding: 12px;
}

mat-divider.mat-divider-vertical {
  height: 12px;
  opacity: 0.3;
}

mat-form-field .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0;
}

.userTable {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 4px 0 4px 0 !important;
    width: 100px !important;
    border-top: 4px solid transparent !important;
  }
}

.default-snack {
  background-color: mat-color($accent) !important;
  color: #1e2029 !important;
}
.warn-snack {
  background-color: mat-color($warn) !important;
  color: #ffffff !important;
}
.answer-bottom-sheet {
  background-color: #fafafa  !important;
  padding: 0 !important;
  .answer-add-container {
    margin: 0;
    .answer-add {
        padding: 0 16px 0 16px !important;
    }
    
}
  h2 {
   display: none;
  }
}
.answer-divider.mat-divider.mat-divider-inset {
  margin-left: 102px;
}

.color-grid {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 4px 0 0;
}

/*********************************ql-editor styles********************************/
.ql-toolbar .ql-stroke {
  // fill: none !important;
  // stroke: #fff !important;
}

.ql-toolbar .ql-fill {
  // fill: #fff !important;
  // stroke: none !important;
}

.ql-toolbar .ql-blockquote {
  // fill: mat-color($accent) !important;
  // stroke: none !important;
}
.ql-editor.ql-blank::before {
  // color: rgba(255, 255, 255, 0.6);
}

.selection-tooltip {
  padding: 0 !important;
  border-radius: 16px;
}
.selection-tooltip:after {
  background-color: mat-color($my-grey, 800 !important);

}
.selected-text-tooltip-bar {
  background-color: mat-color($my-grey, 800);
  //margin: 0 -5px;
  .selected-text-tooltip-button {
    display: inline-block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
  }
}

.ql-container {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  margin: 0px;
}
.ql-editor {
  padding: 16px 8px 0px 8px;
  p {
    text-align: justify;
  text-align-last: left;
  }
  line-height: inherit;
  color: inherit;
}

.ql-snow .ql-editor img {
  margin: 8px 0;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid mat-color($accent);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

quill-editor.answer .ql-editor {
  height: 150px;
}
.ql-video {
  max-width: 100%;
}

