/* You can add global styles to this file, and also import other style files */
@import "custom-theme.scss";
@import "~@angular/material/theming";
@import "../../node_modules/quill/dist/quill.bubble.css";
@import "../../node_modules/quill/dist/quill.core.css";
@import "../../node_modules/quill/dist/quill.snow.css";
$dark-foreground: map-get($dark-theme, foreground);

//@import "font-awesome-4.7.0/css/font-awesome.css";
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  //position: relative;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

blockquote {
  font-style: italic;
  border-left: 4px solid mat-color($primary,300);
  padding: 0 0 0 16px;
}

a{
  color: mat-color($primary, 300);
}
.tooltip {
  font-size: 12px !important;
  //font-weight: bolder;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.icon-small {
  transform: scale(0.7);
  //font-size: 16px;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: rgba(0,0,0,0.6);
  margin: 2px 6px 0 0;
}
.avatar-large {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin: 2px;
}



/****************************************Buttons****************************************************/
.top-fab-button {
  position: absolute;
  right: 0;
  top:-28px
}
button.mat-button {
  border-radius: 300px;
}
button.mat-button.border-white {
  border: 2px solid white;
  //border-radius: 30px;
  //margin-left: 16px;
}
button.mat-raised-button{
  border-radius: 300px;
  text-transform: uppercase;
}
button.mat-flat-button {
  border-radius: 300px;
}
button.mat-raised-button.mat-accent{
  text-transform: uppercase;
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border: solid 1px mat-color($my-grey, 900);
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: solid 1px mat-color($my-grey, 900);
}


.mat-button.google-login {
  //border: 1px solid mat-color($QA-primary, 500);
  border-radius: 300px;
  width: 100%;
  background-color: white !important;
  color: #1E2029 !important;
}

//*****************************Global styles*************************************

//Container
@media only screen and (min-width: 1920px) {
  .container {
    width: 1110px;
  }
}
@media only screen and (max-width: 1920px ) and ( min-width: 1280px){
  .container {
    width: 1110px;
  }
}

@media only screen and (max-width: 1280px ) and ( min-width: 960px) {
  .container {
    width: 945px;
    padding: 0 8px;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    padding: 0 8px;
    //margin: 0 32px;
  }
}
.detail-page-container {
  padding: 80px 0 0 0;
}
.mat-toolbar-row {
  padding: 0!important;
}

.container_content .list {
  padding: 0 22px;
}

.editor {
  height: 300px !important;
}
.section-header {
  margin: 16px 0;
  .mat-subheading-2 {
    margin: 0;
  }
}

quill-editor.answer .ql-editor {
  height: 150px;
}

.background-card {
  margin: 8px 0;
  background-color: mat-color($my-grey, 800);
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}
.background-card-small {
  background-color: mat-color($my-grey, 800);
  border-radius: 8px;
  padding: 12px;
}
//********************************************chip*******************************************************
mat-chip-list:focus {
  outline: 0;
}
.mat-standard-chip.tag {
  min-height: 24px !important;
  margin-bottom: 8px;
  cursor: pointer;

  //font-size: mat-font-size(caption);
  background-color: transparent !important;
  border: 1px solid rgba(255,255,255, 0.2);
}

.mat-standard-chip.transparent {
  min-height: 24px !important;
  margin-bottom: 8px;
  background-color: transparent !important;
  mat-icon {
    margin: 0 4px 0 0;
  }
}
.mat-standard-chip.nav-chip {
  cursor: pointer;
}

.default-snack {
  background-color: mat-color($primary);
}
.warn-snack {
  background-color: mat-color($warn);
}
//*******************************************divider*******************************************************
.answer-divider.mat-divider.mat-divider-inset {
  margin-left: 102px;
}

//******************************************line clamps*****************************************************

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.color-grid {
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 4px 0 0;
}
.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
}

.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
}

.ql-toolbar .ql-blockquote {
  fill: mat-color($primary) !important;
  stroke: none !important;

}
.ql-editor.ql-blank::before {
  color: rgba(255,255,255,0.6);
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid mat-color($primary, 300);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}
