<div class="post-list background-card">
  <div fxLayout="column" fxLayout.gt-xs="row">
    <div fxLayout="row" fxFlex.gt-xs>
      <div fxLayout="column" >
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon *ngIf="post.isSecret" class="meta-icon">lock</mat-icon>
          <mat-icon *ngIf="post.pinned" class="meta-icon">push_pin</mat-icon>
          <h4 (click)="gotoPost(post)">
            {{ post.title }}
          </h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-chip-list>
            <tag-chip *ngFor="let item of post.tags" [item]="item"></tag-chip>
          </mat-chip-list>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          *ngIf="post.lastLog"
          class="metaData"
        >
          <mat-icon class="post-list-edited" *ngIf="post.lastLog.icon">{{
            post.lastLog.icon
          }}</mat-icon>
          <p class="mat-caption">
            {{ post.lastLog.timestamp | momentPipe }}
            <span *ngIf="post.lastLog.message">{{ post.lastLog.message }}</span>
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="start start" fxLayoutAlign.xs="end end">
      <div class="score" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
        <p class="mat-body-2">{{ post.answersCount }}</p>
        <p class="mat-caption">Хариулт</p>
        <mat-icon fxHide.xs>reply</mat-icon>
      </div>
      <div class="score" fxLayout="column" fxLayout.xs="row" fxLayoutAlign="center center">
        <p class="mat-body-2">{{ post.totalVotes }}</p>
        <p class="mat-caption">Үнэлгээ</p>
        <mat-icon fxHide.xs>done</mat-icon>
      </div>
    </div>
  </div>
  <div
        class="type-indicator"
        [class.user]="post?.pinned"
        [class.user]="isUserPost"
        *ngIf="post?.pinned || isUserPost"
      >
  </div>
</div>