@import "../../../styles/custom-theme.scss";
.post-list {
  padding: 12px 8px;
}

.post-list p {
  margin: 0;
}
.post-list .author {
  font-weight: bold;
  cursor: pointer;
}

.post-list .question {
  margin: 0 0 6px 0;
  cursor: pointer;

}
.post-list .question:hover {
  color: mat-color($QA-accent,800)
}
.post-list .question:focus {
  outline:0;
}

.post-list mat-icon {
  margin:0 8px 0 0;
}

.post-list .score {
  padding: 6px; margin: 0 8px 0 8px; width: 56px
}
//chip style

.post-list .post-list-edited {
  transform: scale(0.8);
  color: rgba(0,0,0,0.6);
}
