<div class="post-list" fxLayout="row">
    <div fxLayout="column" fxFlex="">
        <p class="mat-body-2 question" [routerLink]="['/posts', post.id]">{{post.title}}</p>
        <mat-chip-list>
            <mat-chip class="tag">Байгал орчин</mat-chip>
            <mat-chip class="tag">ХУУ</mat-chip>
        </mat-chip-list>
        <div fxLayout="row" fxLayoutAlign="start center" class="time">
            <mat-icon class="post-list-edited">edit</mat-icon>
            <p class="mat-caption">Сүүлд шинэчлэгдсэн {{post.updatedAt | momentPipe}} <span class="author">{{post.author.displayName}}</span></p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div class="score" fxLayout="column" fxLayoutAlign="center center" >
            <p class="mat-body-2">{{post.answersCount}}</p>
            <p class="mat-caption" >Хариулт</p>
        </div>
        <div class="score" fxLayout="column" fxLayoutAlign="center center" >
            <p class="mat-body-2">{{post.totalVotes}}</p>
            <p class="mat-caption" >Votes</p>
        </div>
    </div>
</div>
<ng-content></ng-content>

