@import "../../../styles/custom-theme.scss";
.post-list {
  padding: 12px 8px;
}

.post-list p {
  margin: 0;
}

.post-list .question {
  margin: 0 0 6px 0;
  cursor: pointer;

}
.post-list .question:hover {
  color: mat-color($QA-accent,500)
}
.post-list .question:focus {
  outline:0;
}

.post-list mat-icon {
  margin:0 8px 0 0;
}

.post-list .score {
  padding: 6px; margin: 0 8px 0 8px; width: 56px
}
//chip style
.mat-standard-chip.tag {
  min-height: 24px !important;
  margin-bottom: 8px;
}
