@import "../../../styles/custom-theme.scss";
.post-list {
  @include standart-list();
  h4 {
    margin: 0 8px 0 0;
  }
}

.post-list .score {
  padding: 6px; margin: 0 8px 0 8px; 
}
.post-list .score.best {
  background-color: mat-color($primary,500);
  border-radius: 8px;
  p {
    color: mat-color($my-grey, 900);
  }
  mat-icon {
    color: mat-color($my-grey, 900);
  }
}
.post-list .post-list-edited {
  @include md-icon-size(18px);
}
.post-list .metaData {
  margin-top: 4px;
}

.post-list .chip-click {
  cursor: pointer;
}
.post-list .chip-click:focus {
  outline:0;
}

.type-indicator {
  position: absolute;
  min-width: 4px !important;
  height: calc(100% - 24px);
  margin: 0 0 0 8px;
  border-radius: 4px;
  display: block;
  right: 12px;
  top: 12px;
  bottom: 12px;
}
.type-indicator.system {
  background-color: mat-color($warn) !important;
}
.type-indicator.user {
  background-color: mat-color($primary);
}

@media only screen and (max-width: 960px) {
  .post-list {
    padding: 12px 12px 6px 16px;
  }
  .score {
    .mat-caption {
      margin-left: 4px;
    }
  }
}