<div class="post-list" fxLayout="row">
    <div fxLayout="column" fxFlex="">
        <p class="mat-body-2 question" [routerLink]="['/posts', post.id]">{{post.title}}</p>
        <mat-chip-list>
            <mat-chip class="tag chip-click" *ngFor="let tag of post.tags" [routerLink]="['/tags/tagDetail', tag.id]" >{{tag?.name}}</mat-chip>
        </mat-chip-list>
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="post.lastLog" class="metaData">
            <mat-icon class="post-list-edited">{{getIcon(post.lastLog.type)}}</mat-icon>
            <p class="mat-caption">{{post.lastLog.user.displayName}} {{post.lastLog.type}} {{post.lastLog.timestamp | momentPipe}} </p>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
        <div class="score" fxLayout="column" fxLayoutAlign="center center" >
            <p class="mat-body-2">{{post.answersCount}}</p>
            <p class="mat-caption" >Хариулт</p>
            <mat-icon class="icon-dark">reply</mat-icon>
        </div>
        <div class="score" fxLayout="column" fxLayoutAlign="center center" >
            <p class="mat-body-2">{{post.totalVotes}}</p>
            <p class="mat-caption" >Votes</p>
            <mat-icon class="icon-dark">done</mat-icon>
        </div>
    </div>
</div>
<ng-content></ng-content>

