@import "src/styles/custom-theme";
.password-reset-card {
  width: 360px;
  // max-height: 800px;
  padding: 32px 32px 20px 32px;
  .logo-container {
    padding: 16px 0 16px 0;
  }
  .logo {
    height: 60px;
    width: auto;
  }
  .formIcon {
    color: mat-color($accent );
  }
  .register-link {
    color: mat-color($accent);
    font-weight: bold;
  }
  .register-link:hover {
    cursor: pointer;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-body-1 {
    margin: 0;
  }
  mat-card-actions {
    margin: 0;
  }
}
