<div fxLayout="column" class="layout-center">
  <div fxFlex></div>
  <mat-card class="password-reset-card" fxLayout="column">
    <ng-container *ngIf="isEmailSent; else form">
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="mat-body-1" style="margin-bottom: 16px">
          Та имэйл хаягаа шалгана уу.
        </p>
        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/auth/login']"
        >
          Нэвтрэх
        </button>
      </div>
    </ng-container>
    <ng-template #form>
      <form (ngSubmit)="onSubmit()">
        <div fxLayout="column">
            <h3>Нууц үг өөрчлөх хүсэлт</h3>
          <p class="mat-body-1" style="margin-bottom: 8px">
            Бүртгэлтэй имэйл хаягаа оруулна уу.
          </p>
        </div>
        <mat-form-field
          appearance="outline"
          color="accent"
          style="width: 100%"
        >
          <mat-label>Имэйл хаяг</mat-label>
          <input matInput placeholder="Имэйл хаяг" [formControl]="email" />
          <mat-icon matSuffix class="formIcon">email</mat-icon>
        </mat-form-field>
        <mat-card-actions fxLayout="row">
          <button mat-button type="button" [routerLink]="['/home']" fxFlex>
            Буцах
          </button>
          <button mat-flat-button color="accent" type="submit" fxFlex>
            Имэйл илгээх
          </button>
        </mat-card-actions>
      </form>
    </ng-template>
  </mat-card>
  <div fxFlex></div>
</div>
