@import "../../../styles/custom-theme";
.vote {
    width: 48px;
    margin: 0 24px 0 0;
}

.active-button {
    background-color: #e0f7fa;
}
.vote .mat-icon-button {
    width: 48px;
    height: 48px;
}
.vote mat-icon {
    transform: scale(2);
}

.vote-icon-dark {
    color: rgba(0,0,0,0.56);
}
.vote-icon-color {
    color: mat-color($QA-accent,800);

}

.vote-content {
    text-align: justify;
}
