@import "../../../styles/custom-theme";

$button-bg: mat-color($accent);
.vote {
  width: 48px;
  margin: 0 16px 0 0;
  .mat-icon-button {
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    mat-icon {
      @include md-icon-size(36px);
      margin: 0;
    }

    &:active {
      transform: scale(0.7);
      background-color: darken($button-bg, 5%);
      box-shadow: 0 2px 25px mat-color($accent, 0.2);
    }
  }
  .mat-icon-button:hover {
    background-color: mat-color($my-grey, 800, 0.04);
  }
  .button--active {
    background-color: mat-color($accent, A200 ,0.1);
    mat-icon {
      color: mat-color($accent);

    //   @include md-icon-size(48px);

    }
  }
  p {
    margin: 0;
  }
  .vote__beer-container {
    position: relative;
    // background-color: yellow;
    height: 44px;
    width: 36px;
    margin: 4px 0 8px 0;
    overflow: visible;
    .tooltip-beer {
      position: absolute;
      top: -20px;
      right: -10px;
      width: 20px;
      height: 20px;
      text-align: end;
      .mat-body-2 {
        margin: 0;
        color: mat-color($accent);
      }
      animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s
        both;
    }
    .vote__beer {
      @include md-icon-size(36px);
      svg {
        position: absolute;
        width: 100%;
        overflow: visible;
        height: auto;
        bottom: 0;
      }
      position: absolute;
      fill: mat-color($my-grey, 800);
      left: 4px;
      bottom: 0;
      width: 36px;
      &.beer--cheers {
        @include md-icon-size(60px);
        left: -10px;
        bottom: -10px;
        background-color: mat-color($accent, 0.1);
        border-radius: 100%;
        svg {
          bottom: 8px;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .vote {
    margin: 0 8px 0 0;
    .vote__beer-container {
      height: 32px;
      width: 32px;
      margin: 4px 0;
      .vote__beer {
        @include md-icon-size(32px);
        position: absolute;
        fill: mat-color($my-grey, 800);
        left: 2px;
        bottom: 0;
        width: 32px;
        transition: enter 0.5s 0s ease;
      }
      .vote__beer.beer--full {
        bottom: -3px;
        left: 4px;
        width: 28px;
        height: auto;
      }
      .vote__beer.beer--cheers {
        @include md-icon-size(50px);
        // left: -10px;
        bottom: -8px;
        background-color: mat-color($accent, 0.1);
        border-radius: 100%;
      }
    }
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
