@import "../../../styles/custom-theme";
.vote {
    width: 48px;
    margin: 0 16px 0 0;

    .mat-icon-button {
        // width: 40px;
        // height: 40px;
        mat-icon {
            @include md-icon-size(36px);
            margin: 0;
        }
    }
    .mat-icon-button:hover {
        background-color: mat-color($my-grey, 800, 0.04);

    }
    .button--active {
        background-color: mat-color($accent, A200 ,0.1);
        mat-icon {
            color: mat-color($accent);
        }
    }
    p {
        margin: 0;

    }
    .vote__beer-container {
        position: relative;
        height: 40px;
        width: 40px;
        margin: 8px 0;
        .vote__beer {
            @include md-icon-size(40px);
            position: absolute;
            fill: mat-color($my-grey, 800);
            left: 5px;
            bottom: 0;width: 40px;
            transition: enter 0.5s 0s ease

        }
        .vote__beer.beer--full {
            bottom: -5px;
            width: 40px;
            height: auto;
        }
        .vote__beer.beer--cheers {
            @include md-icon-size(60px);
            left: -5px;
            bottom: -10px;
            background-color: mat-color($accent, 0.1);
            border-radius: 100%;
        }
        
    }
    
}
.vote-icon-dark {
    opacity: 0.7;
    //color: rgba(0,0,0,0.56);
}
.vote-icon-color {
    color: mat-color($primary);
}

.vote-content {
    text-align: justify;
}