<div class="vote" fxLayout="column" fxLayoutAlign="center center">
  <button mat-icon-button (click)="upVote()" [class.button--active]="userVote > 0">
    <mat-icon>arrow_drop_up</mat-icon>
  </button>
  <div class="vote__beer-container" *ngIf="voteCount">
    <mat-icon class="vote__beer" *ngIf="voteCount == 0" svgIcon="beer_cheers"></mat-icon>
    <mat-icon class="vote__beer" *ngIf="voteCount == 1" svgIcon="beer_1"></mat-icon>
    <mat-icon class="vote__beer" *ngIf="voteCount == 2" svgIcon="beer_2"></mat-icon>
    <mat-icon class="vote__beer" *ngIf="voteCount == 3" svgIcon="beer_3"></mat-icon>
    <mat-icon class="vote__beer" *ngIf="voteCount == 4" svgIcon="beer_4"></mat-icon>
    <!-- <mat-icon *ngIf="voteCount > 5" svgIcon="beer_cheers"></mat-icon> -->
  </div>
  
  <button mat-icon-button (click)="downVote()" [class.active]="userVote < 0">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <!-- <mat-spinner color="accent" *ngIf="loading" diameter="24"></mat-spinner> -->
  <p>{{voteCount}}</p>
  <!-- <div *ngIf="!loading">
    <p class="mat-caption" *ngIf="obj.votesNumber > 0">{{ obj.votesNumber }}</p>
  </div> -->
</div>