<div class="answer-add">
    <form [formGroup]="replyForm" (ngSubmit)="submit()">
        <div class="form-group">
            <quill-editor class="reply" formControlName="editor" [modules]="config" [placeholder]="'Хариу бичих'"></quill-editor>
        </div>
        <div fxLayout="row" style="padding:4px 0 0 0" fxLayoutAlign="end end">
           <!-- <button mat-flat-button>Цуцлах</button> -->
            <button mat-button type="submit" class="background-button">Хариултаа илгээх</button>
        </div>
    </form>
</div>
