<div class="answer-list" fxLayout="column">
    <div fxLayout="row">
        <vote-button [answer]="answer"></vote-button>
        <div fxFlex fxLayout="column">
            <p class="mat-caption">{{answer.createdAt | momentPipe}}</p>
            <div class="vote-content" [innerHTML]="answer.content"></div>
        </div>
    </div>
    <div fxlayout="row" fxLayoutAlign="end center">
<!--        <div fxLayout="row" fxLayoutAlign="start start">-->
<!--            <div fxLayout="row" fxLayoutAlign="start center" class="replies">-->
<!--                <mat-icon>reply</mat-icon>-->
<!--                <p class="mat-caption">0</p>-->
<!--            </div>-->
<!--        </div>-->
        <user-profile [user]="answer.author"></user-profile>
    </div>
    <ng-content select="[answer-divider]" ></ng-content>
</div>

