<div fxLayout="row" class="detail-header-container" *ngIf="currentRoute">
    <div fxFlex></div>
    <div class="container detail-header" fxLayout="column" fxLayoutAlign="center left" style="position: relative" *ngIf="detail | async as detail">
                <p class="mat-headline">{{detail.name}}</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
        <button mat-button color="accent" class="background-button">
            Take tour
        </button>
    </div>
    <div fxFlex></div>
</div>
