@import "../../../styles/custom-theme";

.header {
    position: relative;
    padding: 12px 0;
    background-color: transparent;
    .title {
        height: auto;
        //margin-bottom: 12px;
    }
    p {
        margin: 0;
    }

    //height: 200px;
    //border-bottom: 1px solid mat-color($my-grey, 700);
    //border-left: 2px solid mat-color($QA-accent, 700);
}
