@import "../../../styles/custom-theme";

.profile-header-container {
    height: 200px;
    position: relative;
    background-color: mat-color($QA-accent,50);
    margin-bottom: 8px;
}

.profile-header {
    padding: 40px 15px 30px;
}
