<div *ngIf="article$ | async as article">
  <mat-toolbar class="header" fxLayout="column" role="heading">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between start" class="title">
        <div fxLayout="column">
            <p class="mat-headline" fxHide.gt-xs="">{{ article.title }}</p>
            <p class="mat-display-1" fxHide.xs="">{{ article.title }}</p>
            <p class="mat-caption">{{article.updatedAt | momentPipe}}</p>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="column">
      <div class="background-card">
        <div [innerHtml]="article.content"></div>
      </div>
  </div>
</div>
