<div *ngIf="article$ | async as article">
  <mat-toolbar class="header" fxLayout="column" role="heading">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
            <h1>{{ article.title }}</h1>
            <p class="mat-body-1">{{article.updatedAt | momentPipe}}</p>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="column">
      <div class="background-card">
        <div [innerHtml]="article.content"></div>
      </div>
  </div>
</div>
