@import "custom-theme";

.blog-list {
  padding: 8px 0;
  h4 {
    margin-bottom: 12px;
    font-size: 16px;
  }
  h4:hover {
    opacity: 0.8;
    color: mat-color($accent);
    cursor: pointer;
  }
}
