<div class="blog-list">
  <div fxLayout="column">
    <h4>Lorem ipsum dolor sit amet.</h4>
    <p class="mat-caption">3 өдрийн өмнө</p>
    <p class="blog-description line-clamp-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum deserunt id
      labore non sed perferendis similique minus earum! Explicabo vero, totam
      nam neque atque ratione quisquam inventore perspiciatis suscipit dolor.
      Dolor in cupiditate officia, voluptates, dolore, provident quam facilis
      beatae ipsam quidem distinctio ipsum perspiciatis ipsa a asperiores
      exercitationem libero?
    </p>
    <!-- <mat-chip-list>
        <tag-chip></tag-chip>
    </mat-chip-list> -->
  </div>
</div>
<ng-content></ng-content>
