<div class="blog-list">
  <div fxLayout="column">
    <h4 (click)="gotoBlog(item)">{{ item.title }}</h4>
    <p class="mat-caption">{{ item.createdAt | momentPipe}}</p>
    <p class="line-clamp-3" [innerHtml]="htmlContent"></p>
    <mat-chip-list>
      <tag-chip
        *ngFor="let tag of item.tags"
        [item]="tag"
        [routerLink]="['/tags/tagDetail', tag?.id]"
      ></tag-chip>
    </mat-chip-list>
    <div class="author-section" fxLayout="column" fxLayoutAlign="end end">
        <publisher-profile [publisher]="item.publishAs"></publisher-profile>
    </div>
  </div>
</div>
<ng-content></ng-content>
