@import "src/styles/custom-theme";
@import "../../post/post-list/post-list.component.scss";
.footer-container {
  position: relative;
  background-color: mat-color($my-grey, 800);
  padding: 16px;
  .demo-mode {
    padding: 16px 0;
    button {
      margin: 8px 0 00;
      background-color: mat-color($warn);
    }
    .text {
      position: relative;

    }
    .text p {
      margin: 0 8px 0 0;
    }
    .text p:before {
      background: mat-color($warn);
      border-radius: 16px;
      content: "";
      margin-left: -0.75rem;
      align-self: flex-start;
      position: absolute;
      height: 100%;
      width: 4px;
    }
  }
}
.footer {
  height: 85px;
  //   padding: 40px 15px 30px;
  .footer-menu {
    color: mat-color($my-grey, 50);
    text-decoration: none;
    margin-bottom: 8px;
  }
  .footer-menu:focus {
    outline: 0;
  }
  .footer-menu:hover {
    cursor: pointer;
  }
}
