<div fxLayout="column" class="footer-container">
  <div class="demo-mode" fxLayout="row" *ngIf="article$ | async as article">
    <div fxFlex></div>
    <div
      class="container demo-container"
      fxLayout.xs="column"
      fxLayout="row"
    >
      <div fxLayout="row">
        <div [innerHTML]="article.content" class="text mat-body-1"></div>
      </div>
      <div style="align-self: flex-end;" >  
        <button mat-button (click)="feedback()">Санал хүсэлт</button>
      </div>
    </div>
    <div fxFlex></div>
  </div>
  <div fxLayout="row">
    <div fxFlex></div>
    <div
      class="container footer"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start end"
    >
      <!-- <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <a class="mat-body-2 footer-menu" [routerLink]="['/articles/', tocId]"
          >Үйлчилгээний нөхцөл</a
        >
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <a class="mat-body-2 footer-menu">Холбоо барих</a>
      </div> -->

      <!-- <div fxFlex fxLayout="column" fxLayoutAlign="start start">
        <a class="mat-body-2 footer-menu">&#169; Прайм-Инфо ХХК</a>
      </div> -->
    </div>
    <div fxFlex></div>
  </div>
</div>
