@import "../../../styles/custom-theme.scss";


.example-spacer {
    flex: 1 1 auto;
}


.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0;
}


/*//chip style*/

  .mat-chip.mat-standard-chip.sub-nav {
      background-color: transparent;
      padding: 7px 24px;
  }
.mat-chip.mat-standard-chip.sub-nav.mat-selected {
    background-color: red;
}

.mat-standard-chip.tag {
    min-height: 24px !important;
    margin-bottom: 8px;
}


.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}




.avatar-image {
//position: absolute;
    width: 48px;
    height: 48px;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 50%;
}
.avatar-image img {
    position: relative;
    margin: 0 auto;
    height: 100%;
}