@import "../login/login.component";
  .layout-center {
    height: 100%;
  }
  .settings-card-container {
    mat-form-field {
      width: 100%;
      margin-top: 8px;
    }
    .welcome-field {
      padding: 8px 0;
      .avatar-button {
        transform: scale(1.5);
        margin: 0 8px 0 0;
      }
      .active {
        background-color: mat-color($my-grey, 800, 0.2);
      }
    }
    
  
  }

.name-card-container {
  background-color: mat-color($my-grey, 800, 0.1);
  margin-top: 8px;
  padding: 12px;
  border-radius: 16px;
  .mat-body-2, .mat-body-1, .mat-caption {
    margin-bottom: 4px;
  }
  button.active {
    background-color: mat-color($warn);
  }

}
