@import "../login/login.component";
.welcome-card {
  min-width: 360px;
  max-height: 800px;
  padding: 20px 32px 20px 32px;
  .welcome-field {
    padding: 8px 0;
  }
  .logo-container {
    padding: 16px 0 16px 0;
  }
  .logo {
    height: 60px;
    width: auto;
  }
  .formIcon {
    color: mat-color($primary, 600 );
  }
  .register-link {
    color: mat-color($accent, 800 );
    font-weight: bold;
  }
  .register-link:hover {
    cursor: pointer;
  }
  mat-form-field {
    width: 100%;
  }
  .avatar-button {
    mat-icon {
      opacity: 100% !important;
    }
    transform: scale(1.5);
    margin: 0 8px 0 0;
  }
  .active {
    background-color: mat-color($my-grey, 100, 0.2  );
  }

}
