<mat-card class="welcome-card" fxLayout="column">
    <form (ngSubmit)="onSubmit()">
        <p class="mat-headline mat-primary">Taвтай морил!</p>
        <p>Таны аватар:</p>
        <div fxLayout="row wrap">
            <div class="avatar" *ngFor="let color of colorService.allColors"  [ngStyle]="{'background-color': color.code}"></div>
        </div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Таны харагдах нэр</mat-label>
            <input matInput placeholder="Овог" [formControl]="displayName">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Байгууллага</mat-label>
            <input matInput placeholder="Овог" [formControl]="company">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Ажил эрхлэлт</mat-label>
            <input matInput placeholder="Овог" [formControl]="position">
        </mat-form-field>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" type="submit" fxFlex="">
                Батлах
            </button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
        </div>
    </form>
</mat-card>

