@import "../login/login.component";
  
  .settings-card-container {
    mat-form-field {
      width: 100%;
      margin-top: 8px;
    }
    .welcome-field {
      padding: 8px 0;
      .avatar-button {
        transform: scale(1.5);
        margin: 0 8px 0 0;
      }
      .active {
        background-color: mat-color($my-grey, 100, 0.2  );
      }
    }
    .logo-container {
      padding: 16px 0 16px 0;
      .logo {
        height: 60px;
        width: auto;
      }
    }
  
  }

.name-card-container {
  padding: 16px 0;
  .mat-body-2, .mat-body-1, .mat-caption {
    margin-bottom: 4px;
  }
  button.active {
    background-color: mat-color($warn);
  }

  .type-indicator {
    width: 5px !important;
    min-height: 39px;
    margin: 0 8px 0 0;
    border-radius: 4px;
    background-color: mat-color($warn);
  }
}
