<div fxLayout="column" class="layout-center">
  <div fxFlex fxHide.xs></div>
  <mat-card class="login-card settings-card-container background-card">
    <form (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutAlign="center center" class="logo-container">
        <img src="../../../assets/logo_full_black.png" alt="Logo" class="logo" />
      </div>
      <div class="greetings">
        <h2>Тавтай морил!</h2>
      </div>
      <div fxLayout="column" class="welcome-field">
        <p class="mat-body-2">Таны аватар (сонгох):</p>
        <div fxLayout="row wrap">
          <button
            mat-icon-button
            *ngFor="let color of colorService.allColors"
            class="avatar-button"
            (click)="selectColor(color)"
            type="button"
            [ngClass]="{ active: isSelected(color) }"
          >
            <mat-icon [ngStyle]="{ color: color.code }">account_circle</mat-icon>
          </button>
        </div>
      </div>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Таны харагдах нэр</mat-label>
        <input matInput placeholder="Харагдах нэр" [formControl]="displayName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Байгууллага</mat-label>
        <input matInput placeholder="Байгууллага" [formControl]="company" required />
      </mat-form-field>
      <mat-hint align="end" class="mat-caption"
        >Жишээлбэл: Эрдэнэт Үйлдвэр ТӨҮГ
      </mat-hint>
      <mat-form-field appearance="outline" color="primary">
        <mat-label>Албан тушаал</mat-label>
        <input matInput placeholder="Албан тушаал" [formControl]="position" required />
      </mat-form-field>
      <mat-hint align="end" class="mat-caption">Жишээлбэл: Геологич </mat-hint>
      <div class="name-card-container" fxLayout="row">
        <div fxLayout="column">
          <p class="mat-body-2">Нэрийн хуудасны мэдээлэл оруулах (Заавал биш)</p>
          <p class="mat-body-1">
            Та нэрийн хуудасны зургаа оруулснаар таны байгууллагын мэдээлэл
            баталгаажих МУУҮА -ийн гишүүдийн хаалттай хэлэлцүүлэгт орох боломжтой.
          </p>
          <upload-file
            [path]="storagePath"
            (fileEmitter)="getImageFile($event)"
          ></upload-file>
        </div>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="center center"></div>
    </form>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-flat-button
        color="accent"
        type="submit"
        fxFlex
        [disabled]="
          !(
            displayName.valid &&
            position.valid &&
            company.valid &&
            selectedColor
          )
        "
      >
        Үргэлжлүүлэх
      </button>
    </mat-card-actions>
  </mat-card>  
  <div fxFlex fxHide.xs></div>
</div>