<mat-card class="login-card" fxLayout="column">
    <form (ngSubmit)="onSubmit()">
        <p class="mat-headline mat-primary">Taвтай морил!</p>
        <ng-container *ngIf="color">
            <div class="color-grid" [ngStyle]="{'background-color': color.code}"></div>
        </ng-container>
        <div fxLayout="row wrap">
            <div class="color-grid" *ngFor="let color of colorService.allColors"  [ngStyle]="{'background-color': color.code}"></div>

        </div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Өнгө</mat-label>
            <input matInput placeholder="Өнгө" >
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Таны харагдах нэр</mat-label>
            <input matInput placeholder="Овог" [formControl]="displayName">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Байгууллага</mat-label>
            <input matInput placeholder="Овог" [formControl]="company">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Ажил эрхлэлт</mat-label>
            <input matInput placeholder="Овог" [formControl]="position">
        </mat-form-field>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" type="submit" fxFlex="">
                Батлах
            </button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center center">
        </div>
    </form>
</mat-card>

