<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button color="accent" class="background-button" [matMenuTriggerFor]="menu">
        {{selectedSort.name}}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of dropDownMenu" (click)="changeSort(menu)">{{menu.name}}</button>
    </mat-menu>
    <button mat-icon-button color="accent" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
<!--    <button mat-button color="accent" (click)="this.postService.addTestPosts(50)">-->
<!--        Add Test Items-->
<!--    </button>-->
</div>
<div class="post-list_container">
    <div *ngIf="posts.length; else loading">
        <post-list *ngFor="let item of posts; last as last" [post]="item">
            <mat-divider *ngIf="!last"></mat-divider>
        </post-list>
    </div>
    <div *ngIf="this.postMetas | async as meta">
        <mat-paginator [length]="meta.size" [pageSize]="10" (page)="pageEvent = getItem($event)" style="background-color: transparent"></mat-paginator>
    </div>
</div>
<ng-template #loading>
    <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner color="accent" [diameter]="24"></mat-spinner>
    </div>
</ng-template>
