<div fxLayout="row" style="padding: 0 30px 0 14px" fxLayoutAlign="space-between center">
    <button mat-button color="accent" class="background-button" [matMenuTriggerFor]="menu">
        СҮҮЛИЙН
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of dropDownMenu" (click)="changeSort(menu.sort)">{{menu.name}}</button>
    </mat-menu>
    <button mat-icon-button color="accent">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
<div class="post-list_container" *ngIf="posts | async as posts; else loading">
    <ng-container *ngIf="posts.length; else noItems">
        <post-list *ngFor="let item of posts; last as last" [post]="item">
            <mat-divider *ngIf="!last"></mat-divider>
        </post-list>
    </ng-container>
    <ng-template #noItems>Асуулт олдсонгүй</ng-template>
</div>
<ng-template #loading>
    <div style="padding: 8px 22px">
        <p class="mat-caption">Ачааллаж байна. </p>
    </div>
</ng-template>
