@import "../../../styles/custom-theme";

.sidebar_container {
    width: 233px;
    /*background-color: yellow;*/
    margin: 0 16px 0 0;
}
.mat-list-base {
    .mat-list-item {
        height: 40px;

    }
}

.active {
    //background-color: map-get()
    color:  mat-color($primary) !important;
}

.navigation-list {
    margin: 16px 0 16px 0;
}
.navigation-list-item {
    margin: 0 0 8px 0;
}
.mat-chip.mat-standard-chip.chip-nav {
    background-color: transparent;
    //color: mat-color($primary);
}
.mat-chip.mat-standard-chip.chip-nav-ghost {
    background-color: mat-color($my-grey, 700);
    width: 200px;
    height: 14px;
}
