<div class="sidebar_container" fxLayout="column">
<!--    <button mat-flat-button color="primary" routerLink="ask">-->
<!--        <mat-icon>edit</mat-icon>-->
<!--        Хэлэлцүүлэг нэмэх-->
<!--    </button>-->
    <mat-action-list class="navigation-list">
        <mat-list-item class="navigation-list-item" style="border-radius: 30px" [routerLink]="['/home']" role="navigation" routerLinkActive="active">
            <mat-icon matListIcon>forum</mat-icon>
            <p matLine style="font-weight: 500">Хэлэлцүүлэг</p>
        </mat-list-item>
        <mat-list-item class="navigation-list-item" style="border-radius: 30px" [routerLink]="['/tags']" role="navigation" routerLinkActive="active">
            <mat-icon matListIcon>view_module</mat-icon>
            <p matLine style="font-weight: 500">Таггууд</p>
        </mat-list-item>
    </mat-action-list>
    <div *ngIf="tags$ | async as tags; else loading">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip *ngFor="let chip of tags" class="chip-nav" [routerLink]="['tags/tagDetail', chip.id]">
                {{chip.name}} ({{chip.totalUsed}})
            </mat-chip>
        </mat-chip-list>
    </div>
    <ng-template #loading>
        <div fxLayout="column">
            <mat-chip-list class="mat-chip-list-selected" >
                <mat-chip *ngFor="let chip of [1,2,3,4,5,6]" class="chip-nav-ghost">
                    <p> </p>
                </mat-chip>
            </mat-chip-list>
        </div>
    </ng-template>
</div>
