<div class="sidebar_container" fxLayout="column">
    <button mat-raised-button color="accent" routerLink="ask" >
        <mat-icon>edit</mat-icon>
        Хэлэлцүүлэг нэмэх
    </button>
    <mat-action-list class="navigation-list">
        <mat-list-item class="navigation-list-item" style="border-radius: 30px" [routerLink]="['/home']" role="navigation" routerLinkActive="active">
            <mat-icon matListIcon>forum</mat-icon>
            <p matLine style="font-weight: 500">Хэлэлцүүүлэг</p>
        </mat-list-item>
        <mat-list-item class="navigation-list-item" style="border-radius: 30px" [routerLink]="['/tags']" role="navigation" routerLinkActive="active">
            <mat-icon matListIcon>view_module</mat-icon>
            <p matLine style="font-weight: 500">Таггууд</p>
        </mat-list-item>
    </mat-action-list>
    <ng-container *ngIf="tags$ | async as tags">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip *ngFor="let chip of tags" style="background-color: transparent; color: #006064" [routerLink]="['tags/tagDetail', chip.id]">
                {{chip.name}} ({{chip.totalUsed}})
            </mat-chip>
        </mat-chip-list>
    </ng-container>
</div>
