<ng-container *ngIf="users$ | async as users; else loading">
    <div class="users_page">
        <div *ngFor="let item of users" class="user-grid">
<!--            <user-profile  [user]="item"></user-profile>-->
        </div>
    </div>
<!--    <mat-table [dataSource]="users" >-->
<!--        <ng-container matColumnDef="name">-->
<!--            <mat-post-header-cell *matHeaderCellDef> Name </mat-post-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.displayName}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="email">-->
<!--            <mat-post-header-cell *matHeaderCellDef> Email </mat-post-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <ng-container matColumnDef="votes">-->
<!--            <mat-post-header-cell *matHeaderCellDef> Votes received </mat-post-header-cell>-->
<!--            <mat-cell *matCellDef="let element"> {{element.votesReceived}} </mat-cell>-->
<!--        </ng-container>-->
<!--        <mat-post-header-row *matHeaderRowDef="displayedColumns"></mat-post-header-row>-->
<!--        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--    </mat-table>-->
</ng-container>
<ng-template #loading>
    <div style="padding: 8px 22px" >
        <p class="mat-caption">Түр хүлээнэ үү. </p>
    </div>
</ng-template>
