@import "src/styles/custom-theme";
.warn-section {
  margin: 0 0 8px 0;
  border-radius: 6px;
  padding: 16px;
  background-color: mat-color($primary);
  .mat-body-2 {
    color: mat-color($my-grey, 900) !important;
  }
  mat-icon {
    color: mat-color($my-grey, 900) !important;

  }
  .alert-icon {
    margin: 0 8px 0 0;
    //padding: 4px;
    width: 64px;
  }

  ::ng-deep p {
    margin: 0 !important;
    //color: mat-color($my-grey) !important;
  }
}
