<div class="warn-section background-card" *ngIf="article$ | async as article" fxLayout="row" fxLayout.xs="column">
    <div fxLayout="row" fxFlex.gt-xs>
        <div fxLayout="column" fxLayoutAlign="center center" class="alert-icon">
            <mat-icon>priority_high</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" [innerHTML]="article.content" class="mat-body-2 warn-text"></div>
    </div>
    <div class="actions" fxlayout='row' fxFlexAlign="end">
        <ng-content></ng-content>
    </div>  
</div>
