<div fxLayout="column">
    <mat-toolbar class="header" fxLayout="column" role="heading">
        <mat-toolbar-row class="title" fxFlex fxLayout="column wrap" fxLayoutAlign="end start">
            <div fxLayout="column wrap">
                <h1 class="mat-headline" fxHide.gt-xs>{{pageTitle}}</h1>
                <p class="mat-display-1" fxHide.xs="">{{pageTitle}}</p>
                <ng-content select="[sub-nav]"></ng-content>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>