<mat-toolbar class="header" [ngStyle]="styleObj" fxLayout="column" role="heading">
    <mat-toolbar-row class="title" fxFlex fxLayout="column" fxLayoutAlign="end start">
        <span class="mat-headline" fxHide.gt-xs="">{{pageTitle}}</span>
        <p class="mat-display-1" fxHide.xs="">{{pageTitle}}</p>
        <ng-content select="[sub-nav]"></ng-content>
    </mat-toolbar-row>
<!--    <mat-toolbar-row class="sub-nav">-->
<!--    </mat-toolbar-row>-->
<!--    <button mat-fab color="accent" aria-label="reply" class="post-header-fab">-->
<!--        <mat-icon>reply</mat-icon>-->
<!--    </button>-->
</mat-toolbar>


