<div class="answer-add-container" style="margin: 16px 0">
  <div style="margin: 16px 0">
    <h2>Таны хариулт</h2>
  </div>
  <div class="answer-add background-card">
    <form [formGroup]="answerForm" (ngSubmit)="submit()">
      <div class="form-group">
        <quill-editor
          class="answer"
          formControlName="editor"
          [modules]="config"
          [placeholder]="'Хариулт бичих ...'"
          #answer
        ></quill-editor>
      </div>
      <div fxLayout="row" style="padding: 16px 0 0 0" fxLayoutAlign="end end">
        <button mat-button type="button" (click)="clear()">Арилгах</button>
        <button mat-flat-button type="submit">
          Нэмэх
        </button>
      </div>
    </form>
  </div>
</div>
