<div class="reply-list" fxLayout="column">
    <div fxLayout="column" class="content">
        <p class="mat-caption">{{item.createdAt | momentPipe}}</p>
        <div style="text-align: justify; margin: 0" [innerHTML]="item.content"></div>
        <ng-container *ngIf="authService.user$ | async as user">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div></div>
                <div fxLayout="row">
                    <user-profile [user]="item.author"></user-profile>
                </div>
            </div>
        </ng-container>
    </div>
    <ng-content></ng-content>

</div>
