<tags-header></tags-header>
<div class="background-card" *ngIf="aboutTag$ | async as aboutTag">
    <p [innerHTML]="aboutTag.content"></p>
</div>
<ng-container *ngIf="authService.user$ | async as user">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
        <p class="mat-subheading-2">Таны дагаж байгаа</p>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="8px" style="margin: 8px 0 0 0"
         *ngIf="authService.user$ | async as user">
        <tag-item *ngFor="let item of userTags" [item]="item" fxFlex.xs=""></tag-item>
    </div>
</ng-container>
<div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
    <p class="mat-subheading-2">Бусад сэдвүүд</p>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="8px" style="margin: 8px 0 0 0">
    <tag-item *ngFor="let item of otherTags" [item]="item" fxFlex.xs=""></tag-item>
</div>
<ng-template #loading>
    <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner color="accent" [diameter]="25"></mat-spinner>
    </div>
</ng-template>
