<tags-header></tags-header>
<div class="background-card" *ngIf="aboutTag$ | async as aboutTag">
    <p class="mat-body-1" [innerHTML]="aboutTag.content"></p>
     <div fxLayout="row" fxLayoutAlign="end center" *ngIf="authService.user$ | async as user">
        <button
          mat-flat-button
          class="background-active"
          (click)="openDialog(user)"
          *ngIf="permissionService.canRead(user)"
        >
          <mat-icon>add</mat-icon>
          Сэдэв санал болгох
        </button>
      </div>
</div>
<div class="section-header">
    <h2>Таны дагаж байгаа</h2>
</div>
<div *ngIf="authService.user$ | async as user else login">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="8px" style="margin: 8px 0 0 0"
         *ngIf="authService.user$ | async as user">
        <tag-item *ngFor="let item of userTags" [user]="user" [item]="item" fxFlex.xs></tag-item>
    </div>
</div>
<ng-template #login>
    <login-warn>
        <h3>Таны дагаж байгаа сэдвүүд</h3>
        <p class="mat-body-1">Та системд нэвтрэн өөрийн дагаж байгаа сэдвүүдээ харна уу.</p>
    </login-warn>
</ng-template>
<div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
    <h2>Бусад сэдвүүд</h2>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="8px" style="margin: 8px 0 0 0">
    <tag-item *ngFor="let item of otherTags" [item]="item" fxFlex.xs=""></tag-item>
</div>
<ng-template #loading>
    <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner color="accent" [diameter]="25"></mat-spinner>
    </div>
</ng-template>
