<div fxLayout="row"  fxLayoutAlign="start center">
    <button mat-button color="accent" class="background-button" [matMenuTriggerFor]="menu">
        {{selected.name}}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of dropDownMenu" (click)="changeSort(menu)">{{menu.name}}</button>
    </mat-menu>
    <button mat-button color="accent" class="background-button" (click)="openDialog()" *ngIf="permissionService.canEdit(this.currentUser)">
        Шинэ таг нэмэх
    </button>
</div>
<div fxLayout="row wrap" fxLayoutGap="8px" style="margin: 8px 0 0 0" *ngIf="tags | async as tags; else loading">
    <tag-item *ngFor="let item of tags" [item]="item"></tag-item>
</div>
<ng-template #loading>
    <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner color="accent" [diameter]="25"></mat-spinner>
    </div>
</ng-template>
