<mat-toolbar color="primary" style="border-bottom: 1px solid rgba(0,0,0,0.2)" class="top-toolbar">
    <mat-toolbar-row>
        <div fxFlex></div>
        <div class="container" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <button color="accent" type="button" aria-label="back" mat-icon-button *ngIf="layout ==='layout-2'" [routerLink]="['home']">
                    <mat-icon aria-label="Side nav toggle icon">keyboard_arrow_left</mat-icon>
                </button>
                <ng-content></ng-content>
                <button mat-icon-button class="homeButton" [routerLink]="['/home']">
                    <img src="../../../assets/logo_noTitle.png" alt="Logo" class="toolbarLogo">
                </button>
            </div>
            <div class="example-spacer"></div>
            <mat-form-field appearance="outline"  color="accent" [floatLabel]="'never'">
                <input matInput placeholder="Хайх" label="search">
                <mat-label>Хайх</mat-label>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div *ngIf="authService.user$ | async as user; else login">
                <button mat-icon-button class="example-icon " aria-label="Icon button" color="accent" [matMenuTriggerFor]="dropMenu">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #dropMenu="matMenu">
                    <button mat-menu-item disabled  >{{user.displayName}}</button>
                    <button mat-menu-item *ngIf="authService.canDelete(user)" [routerLink]="['/admin']">Админ</button>
                    <button mat-menu-item (click)="signOut()">Sign out</button>
                </mat-menu>
            </div>
            <ng-template #login>
                <button mat-button color="accent" [routerLink]="['/auth/login']" class="login">Нэвтрэх</button>
            </ng-template>
        </div>
        <div fxFlex></div>
    </mat-toolbar-row>
</mat-toolbar>
