@import "custom-theme";

.color-background {
    background-color: mat-color($my-grey, 900);
    padding-top: 0 ;
    height: 100%;
    /*min-height: 1200px ;*/
}

.sidenav-container {
    height: 100%;
    margin-top: -64px;
    //padding-top: 64px;
}

/*---------------------------Layout-one---------------------------------*/
.layout-one {
    margin-top: 8px;
    .mat-sidenav-content-container {
        padding-top: 80px;
    }
}
.layout-two {
    padding-bottom: 24px;
    margin-top: 8px;
    .mat-sidenav-content-container {
        padding-top: 80px;
    }
}
.layout-three {
    // position: relative;
    height: 100%;
    .center-content {
        background-color: yellow;
        height: 100%;
    //     position: absolute;
    //     top: 50%;
    //     left:50%;
    //     transform: translate(-50%, -50%);
    }
}
.layout-four {
    .fullWidth {
        width: 100% ;
    }
}
mat-sidenav {
    width: 250px !important;
    position: absolute;
    top: 0
}
.sideBarLogo {
    height: 42px;
}

