@import "../../styles/custom-theme";

//.main-content {
//    padding-bottom: 24px;
//    margin-top: 8px;
//}
//.fullWidth {
//    width: 100% ;
//}
.color-background {
    background-color: mat-color($my-grey, 900);
    padding-top: 0 ;
    height: 100%;
    /*min-height: 1200px ;*/
}

.sidenav-container {
    height: 100%;
    padding-top: 64px;
}
::ng-deep mat-sidenav {
    padding-top: 64px;
    width: 380px !important;
}
//.mat-sidenav-content-container {
//    padding-top: 8px;
//}

/*---------------------------Layout-one---------------------------------*/
.layout-one {
    padding-bottom: 24px;
    margin-top: 8px;
    .mat-sidenav-content-container {
        padding-top: 8px;
    }
}
.layout-two {
    //.fullWidth {
    //    width: 100% ;
    //}
    padding-bottom: 24px;
    margin-top: 8px;
    .mat-sidenav-content-container {
        padding-top: 8px;
    }
}
