<app-navbar *ngIf="!currentLayoutObj.layout3">
    <button color="accent"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
</app-navbar>
<mat-sidenav-container [class.sidenav-container]="!currentLayoutObj.layout3" [class.color-background]="currentLayoutObj.layout3">
    <mat-sidenav class="mat-elevation-z3" #drawer
                 [attr.role]="'navigation'"
                 [mode]="'over'"
                 style="padding-top: 64px">
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" [fxLayoutAlign]="currentLayoutObj.layout3 ? 'center center' : ''">
        <profile-header *ngIf="currentRoute === 'user-detail'"></profile-header>
        <detail-header *ngIf="currentRoute === 'tag-detail'" ></detail-header>
        <top-banner *ngIf="showTopBanner"></top-banner>
        <div fxLayout="row" [class.layout-one]="currentLayoutObj.layout1" [class.layout-two]="currentLayoutObj.layout2" [class.layout-three]="currentLayoutObj.layout3">
            <div fxFlex ></div>
            <div [class.container]="currentLayoutObj.layout1 || currentLayoutObj.layout2" class="mat-sidenav-content-container fullWidth" fxLayout="row">
                <sidebar *ngIf="!(isHandset$ | async) && !isSidebar"></sidebar>
                <div fxFlex>
                    <ng-content></ng-content>
                </div>
            </div>
            <div fxFlex ></div>
        </div>
        <footer *ngIf="currentRoute !== 'login'"></footer>
    </mat-sidenav-content>
</mat-sidenav-container>
