<div class="post-list_container" *ngIf="pinnedPosts$ | async as pinnedPosts">
    <post-list *ngFor="let item of pinnedPosts" [post]="item"></post-list>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button color="primary" class="background-button" [matMenuTriggerFor]="menu">
        {{selectedSort.name}}
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let menu of dropDownMenu" (click)="changeSort(menu)">{{menu.name}}</button>
    </mat-menu>
    <button mat-icon-button color="primary" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
<div class="post-list_container">
    <div *ngIf="posts.length; else loading">
        <div *ngFor="let item of posts; last as last"  >
            <post-list [post]="item" *ngIf="!item.pinned"></post-list>
        </div>
    </div>
    <div *ngIf="this.postMetas | async as meta">
        <mat-paginator [length]="meta.size" [pageSize]="10" (page)="pageEvent = getItem($event)" style="background-color: transparent"></mat-paginator>
    </div>
    <ng-template #loading>
        <!--    ghost elemnts-->
        <post-list-ghost *ngFor="let item of [1,2,3,4,5,6]"></post-list-ghost>
<!--        <div style="padding: 8px 22px;" fxLayout="row" fxLayoutAlign="center center">-->
<!--            <mat-spinner color="accent" [diameter]="24"></mat-spinner>-->
<!--        </div>-->
    </ng-template>
</div>

