<div style="margin: 8px 0" *ngIf="userTags" id="tags">
    <mat-chip-list>
        <tag-chip  *ngFor="let item of userTags" [item]="item" ></tag-chip>
        <button mat-button color="primary" style="height: 24px; line-height: 24px;margin: 4px;" [routerLink]="['/tags']">
            Бүх сэдвүүд
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </mat-chip-list>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
    <h2>Oнцлох</h2>
    <ng-container *ngIf="authService.user$ | async as user">
        <button mat-flat-button color="primary" [routerLink]="'/ask'" *ngIf="permissionService.canRead(user)" >
            <mat-icon>edit</mat-icon>
            Хэлэлцүүлэг нэмэх
        </button>
    </ng-container>
</div>
<div class="post-list_container" *ngIf="pinnedPosts$ | async as pinnedPosts">
    <post-list *ngFor="let item of pinnedPosts" [post]="item"></post-list>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" class="section-header">
    <h2>Бүх хэлэлцүүлгүүд</h2>
    <mat-button-toggle-group name="posts" aria-label="sort">
        <mat-button-toggle *ngFor="let item of toggleMenu" (click)="changeSort(item)" [matTooltip]="item.name" matTooltipClass="tooltip">
            <mat-icon>{{item.icon}}</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="post-list_container">
    <div *ngIf="posts.length; else loading">
        <div *ngFor="let item of posts; last as last"  >
            <post-list [post]="item" *ngIf="!item.pinned"></post-list>
        </div>
    </div>
    <div *ngIf="this.postMetas | async as meta">
        <mat-paginator [length]="meta.size" [pageSize]="10" (page)="pageEvent = getItem($event)" style="background-color: transparent"></mat-paginator>
    </div>
    <ng-template #loading>
        <post-list-ghost *ngFor="let item of [1,2,3,4,5,6]"></post-list-ghost>
    </ng-template>
</div>

