@import "custom-theme";

.chip-list-container {
    margin-right: -8px;
    mat-icon {
        // @include md-icon-size(32px);
        margin: 4px 0 0 0;
    }
}

.h-scrolling-flex {
    display: flex;
    flex-wrap: wrap;
    tag-chip, button {
        flex: 0 0 auto;
    }
    &::-webkit-scrollbar {
        display: none;
      }
    mat-chip-list:focus {
        outline: 0;
    }
}


@media only screen and (max-width: 500px) {
    .h-scrolling-flex {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        align-items: center;
        margin-left: 8px;
        tag-chip, button {
            flex: 0 0 auto;
        }
        &::-webkit-scrollbar {
            display: none;
          }
    }
}
