@import "custom-theme";
@import "src/app/post/post-list/post-list.component";
.top-wrapper-container {
  position: relative;
  // background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0) 49%, rgba(0,0,0,0.7595413165266106) 99%);
  margin-bottom: 8px;
  overflow: hidden;
  height: 200px;
  h1 {
    margin: 0 !important;
    position: relative;
    mat-icon {
      position: absolute;
      bottom: 4px;
      @include md-icon-size();
      color: mat-color($primary);
    }
  }
  h1:focus {
    outline: 0 !important;
  }
  h1:hover {
    cursor: pointer !important;
    color: mat-color($accent) !important;
  }
  .mat-body-2 {
    margin: 0;
  }
  img.banner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .top-wrapper {
    padding: 0;
    position: relative;
    overflow: hidden;
    .wrapper-content {
      z-index: 10;
      margin-bottom: 16px;
    }
  }
}
@media only screen and (max-width: 960px) {
  .container {
    padding: 0;
  }
  img.banner{
    height: 100%;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    padding: 0;
  }
  img.banner{
    width: 100%;
  }
}

// @media only screen and (max-width: 400px) {
//   .top-wrapper-container {
//     .top-wrapper {
//       .background-image {
//       }
//     }
//   }
// }
.top-wrapper-container.warning {
  background-image: linear-gradient(90deg, #ef5350 0%, #ef5350 100%);
}
