@import "custom-theme";
.top-wrapper-container {
  margin-bottom: 8px;
  height: 200px;
  h1:focus {
    outline: 0 !important;
  }
  h1:hover {
    cursor: pointer !important;
    color: mat-color($accent) !important;
  }
  .greetings {
    margin: 0;
  }
  // .top-wrapper {
  //   .wrapper-content {
  //   }
  // }
}
@media only screen and (max-width: 960px) {
  .container {
    padding: 0;
  }
  
}
@media only screen and (min-width: 1300px) {
  .container {
    padding: 0;
  }

}
