@import 'custom-theme';
@import './src/app/layout/detail-header/detail-header.component.scss';

.subnav-toolbar {
    @include subnav-toolbar;
    .active-list-item {
        color:  mat-color($accent) !important;
        background-color: mat-color($accent,500, 0.1);
        border-radius: 8px;
    }
}
