<div fxLayout="column">
  <mat-toolbar class="header" fxLayout="column" role="heading">
    <mat-toolbar-row
      fxFlex
      fxLayout="row"
      fxLayoutAlign="space-between start"
    >
      <div fxLayout="column">
        <h1>Модератор</h1>
        <div class="actions">
          <p class="mat-body-1">Бүртгэлтэй хэрэглэгчид, сэдвүүд болон байгууллагын мэдээллийг өөрчлөх боломжтой. </p>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<mat-toolbar class="subnav-toolbar">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign.xs="space-between center">
      <mat-nav-list fxLayout="row">
        <a
          class="mat-body-1 nav-link"
          *ngFor="let menu of topMenu"
          mat-list-item
          routerLink="{{ menu.link }}"
          routerLinkActive="active-list-item"
          role="navigation">
          {{ menu.name }}
        </a>
      </mat-nav-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
