@import "custom-theme";

table td {
  p {
    margin: 0 !important;
  }
  button.mat-button {
    transform: scale(0.8);
  }
  .verified {
    color: #8bc34a;
  }
  .need-action {
    color: mat-color($warn);
  }
  .confirmed {
    color: #8bc34a;
  }
  .nof-confirmed {
    color: mat-color($primary);
  }
}
table .select:hover {
  cursor: pointer;
  color: mat-color($primary);
}
.mat-standard-chip.role-chip {
  transform: scale(1);
  //font: mat-font-size();
}
.mat-standard-chip.activeRole {
  background-color: green !important ;
  //margin: 0 2px;
}
